.header {
    background-color: #ffffff;
    padding: 25px;
    text-align: center;
}


        
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #009858;
}

#nav {
    
    float: left;
    margin: 0 0 0 0;
    padding: 0;
    list-style: none;
}

    #nav li {
        float: left;
    }

        #nav li a {
            display: block;
            padding: 8px 15px;
            text-decoration: none;
            font-weight: bold;
            color: #069;
            border-right: 1px solid #ccc;
        }

        #nav li a {
            display: block;
            padding: 8px 15px;
            text-decoration: none;
            font-weight: bold;
            color: #069;
            border-right: 1px solid #ccc;
        }

